.page__footer {
  padding: 60px 0;
  background-color: $dark-bg-color;
}
.footer__container {
  display: flex;
  align-items: baseline;
}
.address__wrapper {
  margin-right: 70px;
}
.address {
  width: 231px;
}
.footer__logo {
  display: block;
  margin-bottom: 20px;
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: $bg-white-color;
  text-decoration: none;
}
.address__list {
  display: inline-block;
}
.address__list .address__item + .address__item {
  margin-top: 9px;
}
.address__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $primary-white-color;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover,
.address__link:focus {
  color: $accent-color;
}

.social {
  margin-right: 93px;
}
.social__titel {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-white-color;
}
.social__item--footer {
  fill: $primary-white-color;
}
.social__link--footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link--footer:hover,
.social__link--footer:focus {
  background-color: $accent-color;
}
.social__item--footer:not(:last-child) {
  margin-right: 10px;
}
.footer__social-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: none;
}

.subscribe__form {
  display: flex;
}
.subscribe__label {
  margin-right: 12px;
}
.subscribe__input {
  padding: 15px 0 15px 16px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: inherit;
  color: $primary-white-color;
}

.icon__send {
  margin-left: 10px;
}
.centered {
  display: flex;
  align-items: center;
}
