.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: $primary-white-color;
  border-bottom: 1px solid #eeeeee;
}
.header__container {
  display: flex;
  align-items: center;
}
.header__logo {
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: $title-text-color;
  text-decoration: none;
}
.logo__web {
  color: $accent-color;
}
/* навигация -----------------------------*/
.nav {
  display: flex;
  align-items: center;
}
.nav__list {
  display: flex;
  margin-left: 93px;
}
.nav__list .nav__item:not(:last-child) {
  margin-right: 50px;
}
.nav__item {
  list-style: none;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  position: relative;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: $title-text-color;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover,
.nav__link:focus {
  color: $accent-color;
}
.current {
  color: $accent-color;
}
.current::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: $accent-color;
}
/* почта+телефон -----------------------------*/
.nav__contacts-list {
  display: flex;
  margin-left: auto;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  list-style: none;
}
.nav__contacts-list .contacts__item + .contacts__item {
  margin-left: 50px;
}
.contacts__link {
  display: flex;
  align-items: center;
  color: $main-text-color;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.03em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover,
.contacts__link:focus {
  fill: $accent-color;
  color: $accent-color;
}
.icon__mail {
  fill: currentColor;
  margin-right: 10px;
}
.icon__mail::before {
  content: "";
}

.icon__tel {
  fill: currentColor;
  margin-right: 10px;
}
.icon__tel::before {
  content: "";
}
